<?xml version="1.0"?>
<!--
  鏈夊叧濡備綍閰嶇疆 ASP.NET 搴旂敤绋嬪簭鐨勮缁嗕俊鎭紝璇疯闂?
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="WebDataConnection" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=WebData;Persist Security Info=True;User ID=Admin;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"></compilation>
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false" />
    <globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" fileEncoding="gb2312" />
  </system.web>
</configuration>