*,body {
    margin:0px;
    padding:0px;
}
#box{
    width:100%;
    height:100vh;
    position:absolute;
    background:linear-gradient(45deg,#a6e3e9,#c5ecbe,#a6e3e9);
}
#back{
    color: #555;
	position: absolute;
	top: 50px;
	right: 50px;
	cursor: pointer;
	font-size: 25px;
}
#manageBox{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:500px;
    height:500px;
}
#title{
    width:100%;
    font-family:"华文行楷";
    font-size:50px;
    text-align:center;
}
.decoration{
    font-family:"华文行楷";
    font-size:30px;
    color:#ff006e;
    margin-left:10px;
    text-align:left;
}
.textBox{
    float:right;
}
.btnCss{
    cursor:pointer;
    background:#dff0ea;
    border-radius: 10px;
    outline:none;
    width:80px;
}
.btnCss:hover{
    color:#ff487e;
    font-weight:bold;
}
#userAdd{
    width:100%;
    height:150px;
    border:3px double #555;
    text-align:center;
}
#userAdd div:nth-child(2){
    text-align:left;
    width:241px;
    margin:0 auto;
    margin:10px auto;
}
#userAdd div:nth-child(2) input{
    border-radius:10px;
    outline:none;
    padding-left:10px;
    height:20px;
    border:1px solid gray;
}
#userAdd div:nth-child(3){
    text-align:left;
    width:241px;
    margin:0 auto;
    margin:10px auto;
}
#userAdd div:nth-child(3) input{
    border-radius:10px;
    outline:none;
    padding-left:10px;
    height:20px;
    border:1px solid gray;
}
#userDel{
    width:100%;
    height:150px;
    border:3px double #555;
    text-align:center;
}
#userDel div:nth-child(2){
    text-align:left;
    width:249px;
    margin:20px auto;
}
#userDel div:nth-child(2) select{
    height:20px;
    width:80px;
    background:none;
    font-weight:bold;
    border-radius:10px;
    outline:none;
}
#userEdit{
    width:100%;
    height:150px;
    border:3px double #555;
    text-align:center;
}
#userEdit div:nth-child(2){
    text-align:left;
    width:249px;
    margin:5px auto;
}
#userEdit div:nth-child(2) select{
    height:20px;
    width:80px;
    background:none;
    font-weight:bold;
    border-radius:10px;
    outline:none;
}
#userEdit div:nth-child(3){
    text-align:left;
    width:249px;
    margin:5px auto;
}
#userEdit div:nth-child(3) input{
    border-radius:10px;
    outline:none;
    padding-left:10px;
    height:20px;
    border:1px solid gray;
}
#userEdit div:nth-child(4){
    text-align:left;
    width:249px;
    margin:5px auto;
}
#userEdit div:nth-child(4) input{
    border-radius:10px;
    outline:none;
    padding-left:10px;
    height:20px;
    border:1px solid gray;
}