*,td,li,ul,body {
    margin:0;
    padding:0;
}
#box{
    width:100%;
    margin:0 auto;
}
#upHalf{
    width:100%;
    height:450px;
    background:linear-gradient(#207dff,#fff);
}
#header{
    margin:0 auto;
    width:1000px;
    height:150px;
}
#webTitle{
    width:1000px;
    margin:0 auto;
    text-align:center;
    font-size:50px;
    font-family:"楷体";
    font-weight:bold;
    color:#F8F8F8;
    text-shadow:2px 3px #707070;
}
#en_webTitle{
    width:1000px;
    margin:0 auto;
    margin-top:5px;
    font-size:initial;
    color:#F8F8F8;
    text-align:center;
    font-family:Comic Sans MS;
    text-shadow:1px 2px #707070;

}
#menuebox{
    width:100%;
    height:50px;
    background:#eaeaea;
    box-shadow:0 3px 3px #555;
}
#menue{
    margin:0 auto;
    width:100%;
    height:50px;
}
#nagivation{
    float:left;
    width:1050px;
    height:50px;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center; 
}
ul{
    margin:0;
    padding:0;
    display:flex;
}
#nagivation ul li{
    list-style:none;
    margin:0 20px;
    transition:0.5s;
}
#nagivation ul li a{
    display:block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-family:"微软雅黑";
    font-size:20px;
    transition:0.5s;
}
#nagivation ul :first-child>a{
    color:#f34573;
}
#nagivation ul :not(:first-child)>a{
    color:#333;
}
#nagivation ul li a:hover{
    color:#f34573;
    transform:scale(1.2);
}
#nagivation ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#6fabff;
    transform-origin:left;
    transform:scaleX(0);
    z-index:-1;
}
#nagivation li a:hover:before{
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(1);
    
}
#search{
    position:relative;
    left:1050px;
    width:465px;
    height:50px;
    font-size:20px;
}
#searchBox{
    position:absolute;
    left:82px;
    width:300px;
    height:50px;
}
.SearchText{
    margin:auto 0;
    width:180px;
    height:30px;
    margin-top:10px;
    border:none;
    outline:none;
    border-radius:15px 0 0 15px;
    padding:0 15px;
    background:#fcf9ec;
}
.SearchBtn{
    margin:auto 0;
    width:80px;
    height:30px;
    margin-top:10px;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius:0 15px 15px 0;
    background:#8b8b0b;
    color:#fff;
    transition:3s;
} 
.SearchBtn:hover{
    background:#85144b;
}

#box1{
    width:1000px;
    margin:0 auto;
}
#picNews{
    width:600px;
    height:400px;
    float:left;
    position:relative;
}
#picNews img{
    width:600px;
    height:400px;
    position:absolute;
}
#tsBox{
    width:100%;
    height:60px;
    position:relative;
    top:340px;
    background:rgba(213,238,215,0.3);
}
#txt{
    position:absolute;
    width:100%;
    height:30px;
    top:0px;
    line-height:30px;
    text-align:center;
}
#txt>a{
    text-decoration:none;
    color:#f6f6f6;
}
#txt>a:hover{
    text-decoration:none;
    color:#fe5f55;
}
#squareBox{
    position:absolute;
    width:100px;
    height:30px;
    top:30px;
    right:30px;
    cursor:auto;
}
#squareBox>ul{
    margin:0;
    padding:0;
    line-height:0px;
    list-style:none;
}
#squareBox>ul>li{
    font-size:x-large;
    margin:0 auto;
    cursor:pointer;
}

#divNews{
    width:390px;
    height:400px;
    float:right;
    box-sizing:border-box;
}
#divNews-pic{
    position:relative;
    margin-top:10px;
    width:390px;
    height:170px;
    background: linear-gradient(to bottom right, #ff487e , #ffbd39,#ff7a8a); 
}
#divNews-pic span{
    font-family:'华文行楷';
    font-size:50px;
    color:#444444;
}
#divNews-pic span:nth-child(1){
    position:absolute;
    left:25px;
    top:25px;

}
#divNews-pic span:nth-child(2){
    position:absolute;
    right:25px;
    bottom:25px;
}
#box2{
    width:1000px;
    margin:0 auto;
}
#divLeft{
    width:320px;
    height:200px;
    float:left;
    margin-right:20px;
    box-sizing:border-box;
}
#divMiddle{
    width:320px;
    height:200px;
    float:left;
    margin-right:20px;
    box-sizing:border-box;
}
#divRight{
    width:320px;
    height:200px;
    float:left;
    box-sizing:border-box;
}
#divLinks{
    margin:0 auto;
    width:1000px;
    height:120px;
}
#scrollBox{
	margin:0 auto;
	height: 120px;
	width: 1000px;
	line-height: 120px;
	cursor: pointer;
}
#right,#left{
	height: 100%;
	width: 4%;
	text-align: center;
}
#left i{
    cursor: pointer;
    font-size:30px;
    color:white;
    transition:1s;
}
#right i{
    cursor: pointer;
    font-size:30px;
    color:white;
    transition:1s;
}
#scrollImg,#right,#left{float: left;box-sizing: border-box;}
#scrollImg{
	height: 100%;
	width: 92%;
	overflow: hidden;
	position: relative;
}
#pic,#pic li{
	height: 120px;
	width: 230px;
	display: inline-block;
}

#pic{
	position: absolute;
}
#pic li{
	float: left;
    margin:0;
    padding:0;
}
#pic li img{
    height: 120px;
	width: 230px;
}

#downHalf{
    width:100%;
    height:500px;
    background: linear-gradient(to bottom,#fff,#207dff);
}
.footer{
    position:relative;
    bottom:0;
    left:50%;
	transform: translate(-50%,0);
    width:1000px;
    height:150px;
}
#front,#back{
    width: 100%;
	height: 100%;
    position:absolute;
	transition:transform 0.5s linear;
	overflow: hidden;
	backface-visibility: hidden;
    box-shadow:2px 2px 3px #555;
}

#back{
	background:rgba(43,49,68,0.7);
	transform:perspective(600px) rotateX(180deg);
}
#front{
	background: linear-gradient(to bottom,#6aa8ff,#207dff);
	transform:perspective(600px) rotateX(0deg);
}
#flogo{
    position:relative;
    top:50%;
    left:0;
    transform:translate(0,-50%);
}
#relativeInfo{
    position:absolute;
    top:50%;
    left:70px;
    transform:translate(0,-50%);
    color:#fff;
    padding:10px;
}
#icon{
    position:absolute;
    right:20px;
    bottom:15px;
    height:35px;
    color:white;
    font-size:30px;
    line-height:35px;
}
#icon div{
    float:left;
    margin-left:30px;
}
#QRcode1{
    position:absolute;
    width:80px;
    height:80px;
    right:115px;
    top:15px;
    background:url("../images/wxgzh.jpg");
    background-size:contain;
    opacity:0;
}
#QRcode2{
    position:absolute;
    width:80px;
    height:80px;
    right:55px;
    top:15px;
    background:url("../images/zslg.jpg");
    background-size:contain;
    opacity:0; 
}

#bchange{
    color:white;
    font-size:30px;
    position:absolute;
    right:20px;
    bottom:15px;
    
}
#back a{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    text-decoration:none;
}
#back a:hover{
    color:#f34573;
}
.split{
    width:100%;
    height:10px;
    clear:both;
}
.columnTitle{
    width:100%;
    height:30px;
    text-align:center;
    font-size:x-large;
    font-family:"华文新魏";
    font-weight:bold;
}
#column1 table,td,#column2 table,td,#column3 table,td,#column4 table,td{
    border-width:0px;
    border:none;
    border-bottom:5px solid #ff0000;
}
.contents{
    margin-top:10px;
}

.contents table,td{
    border-width:0px;
    border:none;
    border-bottom:1px dashed gray;
}

/*设置栏目中的文章标题长度限制*/
#divNews table{
width:300px;
table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
}
#divNews td{
width:100%;
word-break:keep-all;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
} 
#divLeft table,#divMiddle table,#divRight table{
width:240px;
table-layout:fixed;
}
#divLeft td,#divMiddle td,#divRight td{
width:100%;
word-break:keep-all;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
} 


